*{
    padding: 0;
    margin: 0;
}
.div{
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px gray;
    animation: sl 10s linear infinite;
}
@keyframes slider{
    0%{background-image: url("../Img/Main-img/part--header/Img-one.jpg");}
    25%{background-image: url("../Img/Main-img/part--header/Img-two.jpg");}
    50%{background-image: url("../Img/Main-img/part--header/Img-three.jpg");}
    75%{background-image: url("../Img/Main-img/part--header/Img-fourth.jpg");}
    100%{background-image: url("../Img/Main-img/part--header/Img-fifth.jpg");}
}